<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	<typeAliases>
 		<typeAlias alias="UserInfoDTO" type="com.nobanryeo.petpal.user.dto.UserInfoDTO"/>
 	
 		<typeAlias alias="FreeBoardDTO" type="com.nobanryeo.petpal.user.dto.FreeBoardDTO"/>
 		<typeAlias alias="FreeBoardReplyDTO" type="com.nobanryeo.petpal.user.dto.FreeBoardReplyDTO"/>
 		
 		<typeAlias alias="BoardPictureManageDTO" type="com.nobanryeo.petpal.user.dto.BoardPictureManageDTO"/>
 		<typeAlias alias="BoardReplyDTO" type="com.nobanryeo.petpal.user.dto.BoardReplyDTO"/>

 		<typeAlias alias="AskDTO" type="com.nobanryeo.petpal.admin.ask.dto.AskDTO"/>
 		
 		<typeAlias alias="AdAdminDTO" type="com.nobanryeo.petpal.admin.dto.AdAdminDTO"/>
 		
 		
 	</typeAliases>
 
 
 </configuration>