<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nobanryeo.petpal.admin.ask.dao.AskMapper">

<resultMap id="askResultSet" type="AskDTO">
		<id column="BOARD_CODE" property="boardCode" />
		<result column="BOARD_TITLE" property="boardTitle" />
		<result column="BOARD_CONTENT" property="boardContent" />
		<result column="QUESTION_TYPE" property="questionType" />
		<result column="BOARD_POST_DATE" property="postDate" />
		<result column="ADMIN_REPLY_CONTENT" property="reply" />
		<result column="STATE_CODE" property="stateCode" />
		<result column="USER_CODE" property="userCode" />
	</resultMap>
<resultMap id="askDetailSet" type="AskDetailDTO">
		<id column="BOARD_CODE" property="boardCode" />
		<result column="USER_ID" property="userId" />
		<result column="USER_NAME" property="userName" />
		<result column="BOARD_TITLE" property="boardTitle" />
		<result column="BOARD_POST_DATE" property="postDate" />
		<result column="BOARD_CONTENT" property="boardContent" />
		<result column="ADMIN_REPLY_CONTENT" property="replyContent" />
		
	</resultMap>
		
	
	<select id="selectList" resultMap="askResultSet" parameterType="AskDTO">
		        SELECT 
		    BOARD_CODE,
		    BOARD_TITLE,
		    BOARD_CONTENT,
		    QUESTION_TYPE,
		    BOARD_POST_DATE,
		    ADMIN_REPLY_CONTENT,
		    STATE_CODE,
		    USER_CODE
		FROM QUESTION_BOARD
	</select>
		<select id="selectListDetail" resultMap="askDetailSet" parameterType="AskDetailDTO">
			SELECT
		A.BOARD_CODE,
	    B.USER_ID,
	    B.USER_NAME,
	    A.BOARD_TITLE,
	    A.BOARD_POST_DATE,
	    A.BOARD_CONTENT,
	    A.ADMIN_REPLY_CONTENT
	    FROM QUESTION_BOARD A
	    JOIN USER_TABLE B ON(A.USER_CODE = B.USER_CODE)
	    WHERE A.BOARD_CODE =#{boardCode}
	</select>
	
</mapper>